header{
background-color: #383D58;
color: white;
}
.cabecalho.imagem{
width: 10%;
}
.cabecalho {
    background-color:#383D58;
    color: white;
    display: flex;
    justify-content: space-around;
}
 .cabecalho-lita-item{
    display: inline-block;
    margin: 0 16px;
 }